* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8A2BE2;
    height: 100vh;
    width: 100vw;
}

.container-main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 80%;
    background-color: #201b2c;
    border-radius: 30px;
}

.container-main img {
    height: 20em;
    width: 20em;
    transform: translateY(-20px);
    animation: astro 3s infinite 1s alternate;
}

.resp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    color: #b701ff;
    gap: 80px;
    
}

.container-login, .container-login2 {
    background-color: #3d3259;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px;
    justify-content: space-evenly;
    height: 80%;
    width: 25%;
    overflow: hidden;
    border-radius: 15px;
  
}


.container-login2 {
    display: none;
}


.container-login input, .container-login2 input {
    display: flex;
    background-color: #6d56a8;
    width: 100%;
    border-radius: 7px;
    padding: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    border: none;
    padding-right: 170px;
    color: #fff;
    
}

.container-login label, .container-login2 label {
    color: rgb(194, 194, 194);
    
}

form {
    width: 100%;
}

.transform {
    transform: translateY(-15px);
    width: 100%;
    margin-bottom: 20px;
}

.container-login h1, .container-login2 h1 {
    display: flex;
    align-self: center;
    color: #b701ff;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: -20px;
}

input::placeholder {
    color: rgb(194, 194, 194);
}

.btn-login, .btn-register, .btn-confirm, .btn-gologin {
    background-color: #8A2BE2;
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    letter-spacing: 2px;
    color: #201b2c;
    cursor: pointer;
}

@keyframes astro {
    to {
        transform: translateY(10px);
    }
}

@media (max-width:860px) {
    .container-main {
        flex-direction: column;
        width: 70%;
        height: 90%;
    }
    
    .container-main img {
        align-self: center;
        width: 10em;
        height: 10em;
    }
    
    .container-login, .container-login2 {
        width: 70%;
        height: 70%;
    }
    
    .container-main h1 {
        font-size: 30px;
        text-align: center;
    }
    
    input::placeholder {
        color: #6d56a8;
    }
    
    .resp {
        gap: 30px;
    }

    .container-login input, .container-login2 input {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 100%;
        
    }

    .transform {
        align-items: center;
        
        width: 100%;
    }

    .btn-login, .btn-register, .btn-confirm, .btn-gologin {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 400px) and (max-height:700px) {
    .container-main img {
        width: 5em;
        height: 5em;
    }

    .resp h1 {
        font-size: 20px;
    }

    .container-login2 h1 {
        font-size: 25px;
    }
}

@media (max-height:540px) and (max-width:860px) {
    .container-main img {
       width: 5em;
       height: 5em;
}

    .container-main h1 {
        font-size: 20px;
    }

    .container-main {
        width: 50%;
        height: 80%;
    }

    .container-login input, .container-login2 input {
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    .btn-login, .btn-register, .btn-confirm, .btn-gologin {
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

@media (max-height:585px) {
    .container-main img {
        width: 10em;
        height: 10em;
        align-self: center;
    }

}

@media (max-width:410px) and (max-height:520px) {
    .container-main img {
        width: 5em;
        height: 5em;
    }

    .container-login input, .container-login2 input {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .btn-login, .btn-register, .btn-confirm, .btn-gologin {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .container-login h1, .container-login2 h1 {
        font-size: 15px;
        margin-top: 1px;
        margin-bottom: 10px;
    }
}

@media (max-width: 380px) and (max-height: 770px) {
    .container-main img {
        width: 7em;
        height: 7em;
    }

    .container-main h1 {
        font-size: 20px;
    }

}

@media (max-width: 940px) and (max-height: 1400px) {
    .container-login {
        width: 40%;
    }
    
}

@media (max-width: 560px) and (max-height: 740px) {
    .container-main h1 {
        font-size: 25px;
    }

    .container-main img {
        width: 9em;
        height: 9em;
    }
}

@media (max-width: 300px) and (max-height: 670px) {

    .container-main {
        width: 90%;
    }
    .container-main h1 {
        font-size: 15px;
    }

    .container-main img {
        width: 6em;
        height: 6em;
    }

    .container-login {
        width: 80%;
    }

    .container-login2 {
        width: 80%;
    }
}

@media (max-width: 420px) and (max-height: 920px) {

    .container-login {
        width: 80%;
    }
    .container-login2 {
        width: 80%;
    }
}

@media (max-width: 1050px) and (max-height: 650px) {
    .container-login {
        height: 95%;
    }

    .container-login2 {
        height: 95%;
    }

    .container-login2 h1 {
        font-size: 25px;
    }
}

@media (max-width: 1050px) and (max-height: 1400px) {
    .container-login {
        width: 40%;
    }

    .container-login2 {
        width: 40%;
    }
}

@media (max-width: 1400px) and (max-height: 700px) {

    .container-main {
        height: 90%;
    }

    .container-login2 {
        height: 95%;
    }
    .container-login2 h1 {
        font-size: 25px;
    }
}

@media (max-width: 600px) and (max-height: 1300px) {

    .container-main {
        width: 90%;
    }
    .container-login {
        width: 80%;
        height: 60%;
    }

    .container-login2 {
        width: 80%;
        height: 60%;
    }
}

@media (max-width: 370px) and (max-height: 660px) {
    .container-main {
        height: 99%;
    }

    .container-main h1 {
        font-size: 20px;
    }

    .container-main img {
        width: 7em;
        height: 7em;
    }

    .container-login2 {
        height: 65%;
    }
}

@media (max-width: 330px) and (max-height: 490px) {

    .container-main img {
        width: 5em;
        height: 5em;
        transform: translateY(-30px);
    }

    .container-login {
        height: 65%;
    }

    .container-login2 {
        height: 65%;
    }


    .container-main h1 {
        font-size: 15px;
    }

    @keyframes astro {
        to {
            transform: translateY(-5px);
        }
    }
}

@media (max-width: 380px) and (max-height: 670px) {

    .container-main h1 {
        font-size: 20px;
    }

    .container-main img {
        width: 5em;
        height: 5em;
        transform: translateY(-20px);
    }

    .container-login2 {
        height: 65%;
    }

    .container-main h1 {
        font-size: 15px;
    }

    @keyframes astro {
        to {
            transform: translateY(-5px);
        }
    }
}

@media (max-width: 820px) and (max-height: 1180px) {
    .container-login {
        width: 70%;
    }

    .container-login2 {
        width: 70%;
    }

    

    
}

