* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8A2BE2;
    height: 100vh;
    width: 100vw;
}

.container-main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 80%;
    background-color: #201b2c;
    border-radius: 30px;
    
}

.container-main img {
    height: 20em;

}

.resp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    color: #b701ff;
    gap: 80px;
    
}

.container-login {
    background-color: #3d3259;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px;
    justify-content: space-evenly;
    height: 80%;
    width: 25%;
    overflow: hidden;
    border-radius: 15px;
    
}

.container-login input {
    display: flex;
    background-color: #6d56a8;
    width: 100%;
    border-radius: 7px;
    padding: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    border: none;
    padding-right: 170px;
    
}

.container-login label {
    color: rgb(194, 194, 194);
    
}

.transform {
    transform: translateY(-15px);
    width: 100%;
}

.container-login h1 {
    display: flex;
    align-self: center;
    color: #b701ff;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: -20px;
}

input::placeholder {
    color: rgb(194, 194, 194);
}

.btn {
    background-color: #8A2BE2;
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    letter-spacing: 2px;
    color: #201b2c;
}

@media (max-width:860px) {
    .container-main {
        flex-direction: column;
        width: 70%;
        height: 90%;
    }
    
    .container-main img {
        align-self: center;
        width: 10em;
        height: 10em;
    }
    
    .container-login {
        width: 50%;
    }
    
    .container-main h1 {
        font-size: 30px;
        text-align: center;
    }
    
    input::placeholder {
        color: #6d56a8;
    }
    
    .resp {
        gap: 30px;
    }

    .container-login input {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 100%;
        
    }

    .transform {
        align-items: center;
        
        width: 100%;
    }

    .btn {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-height:540px) and (max-width:860px) {
    .container-main img {
       width: 5em;
       height: 5em;
}

    .container-main h1 {
        font-size: 20px;
    }

    .container-main {
        width: 50%;
        height: 80%;
    }

    .container-login input {
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    .btn {
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

@media (max-height:585px) {
    .container-main img {
        width: 10em;
        height: 10em;
        align-self: center;
    }

}

@media (max-width:410px) and (max-height:520px) {
    .container-main img {
        width: 5em;
        height: 5em;
    }

    .container-login input {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .btn {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .container-login h1 {
        font-size: 15px;
        margin-top: 1px;
        margin-bottom: 10px;
    }
}

